<h1>Edit Article</h1>


<%= form_for :article, url: article_path(@article), method: :put do |f| %>
  <% if @article %>
    <% @article.errors.full_messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<a href="/articles">Beck to All Comments</a>
