<h1>List Article</h1>

<% @articles.each do |articl| %>
  <h2>
    <%= articl.title %>
  </h2>
  <p>
    <%= articl.text %>
  </p>

  <p>
    <%= link_to 'Show', article_path(articl) %> |
    <%= link_to 'Edit', edit_article_path(articl) %> |
    <%= link_to 'Delete', article_path(articl), method: :delete,
        data: { confirm: 'Are you sure?' } %>
  </p>

<% end %>

<h3><a href="/">Back to Home</a></h3>

<%= debug(params) %>
