<h1><%= @article.title %></h1>

<p>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<% x = 0 %>
<% @article.comments.each do |comment| %>
  <% x += 1 %>
  <p>
    <il><i><%= x %>. <%= comment.author %> said:</i></il><br />
    <i>"<%= comment.body%>"</i>
  </p>
<% end %>

<%= form_for([@article, @article.comments.build]) do |f| %>

  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author, value: current_user.username %>
  </p>

  <p>
    <%= f.label :Body %><br />
    <%= f.text_field :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<a href="/articles">Beck to All Comments</a>
